
.quiz {
  margin-bottom: 20px;
  background-color: #896a9e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333;
}

button:hover {
  background-color: #e0e0e0;
}

button.correct {
  background-color: #82b965;
  color: #fff;
}

button.incorrect {
  background-color: #e26666;
  color: #fff;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.restart-button {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #555;
}

